@import '../../assets/scss/vars';

.dropdown {
  position: absolute;
  z-index: 10;
  top: 40px;
  right: -10px;

  background-color: $color-white;
  border-radius: 12px;
  padding: 8px;
  box-shadow: 0px 0px 2px 0px rgba(90, 90, 90, 1);
  width: 200px;

  display: flex;
  flex-direction: column;
  gap: 8px;

  @media (max-width: 768px) {
    width: 160px;
  }

  &-item {
    cursor: pointer;
    padding: 8px 12px;
    line-height: 21.86px;
    transition: color 0.3s ease;

    &:hover {
      color: $color-accent-blue;
    }

    @media (max-width: 768px) {
      font-size: 14px;
      line-height: 19.12px;
    }
  }
}
