$color-white: #fdfdfd;
$color-light-gray: #f4f4f4;
$color-gray: #dadada;
$color-medium-gray: #9c9c9c;
$color-dark-gray: #595959;
$color-black: #161616;
$color-accent-blue: #22a0bc;
$color-purple: #333153;
