.user-info {
  display: flex;
  align-items: center;
  gap: 8px;

  cursor: pointer;

  img {
    height: 20px;
    width: 20px;
    flex-shrink: 0;
    border-radius: 50px;
    object-fit: cover;
  }
}
