@import '../../../assets/scss/vars';

.user-info {
  display: flex;
  align-items: center;
  gap: 8px;

  cursor: pointer;

  img {
    height: 20px;
    width: 20px;
    flex-shrink: 0;
    border-radius: 50px;
    object-fit: cover;

    @media (max-width: 768px) {
      height: 28px;
      width: 28px;
    }
  }

  p {
    color: $color-dark-gray;
    line-height: 21.86px;

    @media (max-width: 768px) {
      display: none;
    }
  }
}
