@import '../../assets/scss/vars';

.header {
  background-color: $color-white;
  margin-bottom: 40px;

  &-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 56px;
    padding: 0 10px;
  }

  &-right-content {
    display: flex;
    align-items: center;
    gap: 24px;
  }

  &-icon-box {
    display: flex;
    gap: 4px;

    @media (max-width: 768px) {
      display: none;
    }
  }
}
